<p>form-function works!</p>

<hr style="height:5px;border:none;border-top:5px ridge green;width:500px" />
<p style="color:green;font-weight:bold">1.使用FormControl</p>
<table>
  <tr>
    <label for="name">Name: </label>
    <input id="name" type="text" [formControl]="name">      
  </tr>
</table>
<br>
<button (click)="updateName()">Update Name</button>
<br>
<pre>{{name.value}}</pre>
<br>


<hr style="height:5px;border:none;border-top:5px ridge green;width:500px" />
<p style="color:green;font-weight:bold">2.使用FormGroup</p>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" formControlName="firstName">

  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" formControlName="lastName">

  <br>
  <button type="button" (click)="setValue()">SetValue</button>
  <br>
  <br>
  <button type="submit">Submit</button>
</form>
<br>
<br>
<p>Form Value: {{ profileForm.value | json }}</p>
<br>


<hr style="height:5px;border:none;border-top:5px ridge green;width:500px" />
<p style="color:green;font-weight:bold">3.循环嵌套FormGroup</p>

<form [formGroup]="loginForm" (ngSubmit)="onGroupSubmit()">

  <label for="username">username: </label>
  <input id="username" type="text" formControlName="username">

  <label for="password">password: </label>
  <input id="password" type="text" formControlName="password">

  <div formGroupName="address">
    <h2>Address</h2>
  
    <label for="street">Street: </label>
    <input id="street" type="text" formControlName="street">
  
    <label for="city">City: </label>
    <input id="city" type="text" formControlName="city">
  
    <label for="state">State: </label>
    <input id="state" type="text" formControlName="state">
  
    <label for="zip">Zip Code: </label>
    <input id="zip" type="text" formControlName="zip">
  </div>

  <br>
  <button type="button" (click)="setGroupValue()">SetValue</button>
  <br>
  <br>
  <button type="submit">Submit</button>
</form>
<br>
<p>Form Value: {{ loginForm.value | json }}</p>
<br>


<hr style="height:5px;border:none;border-top:5px ridge green;width:500px" />
<p style="color:green;font-weight:bold">4.FormBuilder</p>

<form [formGroup]="userForm" (ngSubmit)="onBuilderSubmit()">

  <label for="username">username: </label>
  <input id="username" type="text" formControlName="username">

  <label for="password">password: </label>
  <input id="password" type="text" formControlName="password">

  <div formGroupName="address">
    <h2>Address</h2>
  
    <label for="street">Street: </label>
    <input id="street" type="text" formControlName="street">
  
    <label for="city">City: </label>
    <input id="city" type="text" formControlName="city">
  
    <label for="state">State: </label>
    <input id="state" type="text" formControlName="state">
  
    <label for="zip">Zip Code: </label>
    <input id="zip" type="text" formControlName="zip">
  </div>

  <br>
  <button type="button" (click)="setBuilderValue()">SetValue</button>
  <br>
  <br>
  <button type="submit">Submit</button>
</form>
<br>
<p>Form Value: {{ userForm.value | json }}</p>
<br>
<p>Form Status: {{ userForm.status }}</p>
<br>


<hr style="height:5px;border:none;border-top:5px ridge green;width:500px" />
<p style="color:green;font-weight:bold">5.表单校验</p>